
{% include 'guest_house/base.html' %}  

<div>
    <div style="text-align: left;padding-left: 100px;width: 50%;">
      <h3>Super offers with Sign up!!</h3>
      <p>1. Get 20% discount on your first booking</p>
      <p>2. Refer to your friends and you and your friend will get 20% off when they will book</p>
      <p>3. Enjoy your stay at Ridhi Sidhi and organise your parties</p>
    </div>

    <form action="." method="post">
  {% csrf_token %}
  {{ form.non_field_errors }}
  {% for field in form %}
    {% if field.name != "username" %}
      <div class="field-wrapper">
        <div class="label-wrapper">
          {{ field.label_tag }}
          {% if field.field.required %}<span class="required">*</span>{% endif %}
        </div>
        <div class="value-wrapper">
          {{ field }}
          {{ field.errors }}
        </div>
      </div>
    {% endif %}
  {% endfor %}
  <div class="submit-wrapper">
    <input type="submit" value="Sign Up"/>
  </div>
</form>
</div>
    