body{
    /*background-image: url(bg.jpeg)*/
    background-color:#cccccc;
}
header {
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
  }

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.mySlides {
    display:none;
}
#login{
    text-decoration-color: #cccccc;
    padding: 20px;
    padding-left: 600px;
    
}
#login_pg{
    display: inline-block;
    float: left;
}
.search{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}